/* Large Screen */
@media (max-width:1200px) {
    .box {
        height: auto;
    }

    .container-one,
    .container-two {
        display: flex;
    }

    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7,
    .box8 {
        height: 400px;
        width: 24%;
        margin-bottom: 5%;
    }
}

/* Laptop Screen */
@media (max-width:1024px) {
    .box {
        height: auto;
    }

    .container-one,
    .container-two {
        display: flex;
    }

    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7,
    .box8 {
        height: 250px;
        width: 24%;
        margin-bottom: 5%;
    }
}

/* Tablet Screen */
@media (max-width:768px) {
    .nav-menu {
        width: 90%;
    }

    ul {
        display: flex;
    }

    ul li {
        margin-right: 10%;
    }

    .box {
        height: auto;
    }

    .container-one,
    .container-two {
        display: flex;
        flex-wrap: wrap;
    }

    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7,
    .box8 {
        height: 250px;
        width: 49%;
        margin-bottom: 5%;
    }
}

/* Mobile Screen */
@media (max-width:480px) {
    .nav-menu {
        width: 100%;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(51, 52, 53, 0.274);
    }

    ul li {
        margin-top: 5%;
        margin-right: 0%;
    }

    .box {
        height: auto;
    }

    .container-one,
    .container-two {
        display: flex;
        flex-direction: column;
    }

    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7,
    .box8 {
        width: 100%;
        margin-bottom: 5%;
    }
}